In [4]:
import yfinance as yf
import pandas as pd

dat = yf.Ticker("MSFT")

# Get historical market data
df = dat.history(period="max")  # Fetch all available data

# Display full dataset snapshot
print(df.head())  # Shows first 5 rows
#print(df.info())  # Gives an overview of the dataset

                               Open      High       Low     Close      Volume  \
Date
1986-03-13 00:00:00-05:00  0.054485  0.062498  0.054485  0.059827  1031788800
1986-03-14 00:00:00-05:00  0.059827  0.063032  0.059827  0.061963   308160000
1986-03-17 00:00:00-05:00  0.061963  0.063566  0.061963  0.063032   133171200
1986-03-18 00:00:00-05:00  0.063032  0.063566  0.060895  0.061429    67766400
1986-03-19 00:00:00-05:00  0.061429  0.061963  0.059827  0.060361    47894400

                           Dividends  Stock Splits
Date
1986-03-13 00:00:00-05:00        0.0           0.0
1986-03-14 00:00:00-05:00        0.0           0.0
1986-03-17 00:00:00-05:00        0.0           0.0
1986-03-18 00:00:00-05:00        0.0           0.0
1986-03-19 00:00:00-05:00        0.0           0.0

In [10]:
import yfinance as yf
import pandas as pd

# Fetch stock data
dat = yf.Ticker("MSFT")

# Extract company info (metadata)
info = dat.info  

# Convert dictionary to a DataFrame
df = pd.DataFrame([info])  

# Display snapshot
print(df.head())  # Shows first few rows
print(df.columns)  # Shows available data fields

            address1     city state         zip        country         phone  \
0  One Microsoft Way  Redmond    WA  98052-6399  United States  425 882 8080

                     website                   industry  \
0  https://www.microsoft.com  Software - Infrastructure

               industryKey               industryDisp  ...  grossProfits  \
0  software-infrastructure  Software - Infrastructure  ...  176278994944

  freeCashflow operatingCashflow earningsGrowth  revenueGrowth grossMargins  \
0  61280874496      122144997376          0.104           0.16      0.69349

   ebitdaMargins  operatingMargins  financialCurrency  trailingPegRatio
0         0.5372           0.46584                USD            2.2191

[1 rows x 130 columns]
Index(['address1', 'city', 'state', 'zip', 'country', 'phone', 'website',
       'industry', 'industryKey', 'industryDisp',
       ...
       'grossProfits', 'freeCashflow', 'operatingCashflow', 'earningsGrowth',
       'revenueGrowth', 'grossMargins', 'ebitdaMargins', 'operatingMargins',
       'financialCurrency', 'trailingPegRatio'],
      dtype='object', length=130)

In [15]:
df.head()

,address1,city,state,zip,country,phone,website,industry,industryKey,industryDisp,...,grossProfits,freeCashflow,operatingCashflow,earningsGrowth,revenueGrowth,grossMargins,ebitdaMargins,operatingMargins,financialCurrency,trailingPegRatio
0,One Microsoft Way,Redmond,WA,98052-6399,United States,425 882 8080,https://www.microsoft.com,Software - Infrastructure,software-infrastructure,Software - Infrastructure,...,176278994944,61280874496,122144997376,0.104,0.16,0.69349,0.5372,0.46584,USD,2.2191

In [16]:
class yfinance.Market(market: str, session=None, proxy=None, timeout=30)

# Convert dictionary to a DataFrame
df = pd.DataFrame([Market])

SyntaxError: invalid syntax (3418974669.py, line 1)

In [18]:
etfs = ["SPY", "QQQ", "DIA", "VTI"]  # S&P 500, NASDAQ, Dow, Total Market
df_list = []

for etf in etfs:
    etf_data = yf.Ticker(etf).history(period="5y")
    etf_data["ETF"] = etf
    df_list.append(etf_data)

df = pd.concat(df_list)
df.head()

,Open,High,Low,Close,Volume,Dividends,Stock Splits,Capital Gains,ETF
Date,,,,,,,,,
2020-02-03 00:00:00-05:00,299.785697,302.390915,299.665166,300.499573,69083000,0.0,0.0,0.0,SPY
2020-02-04 00:00:00-05:00,304.161746,305.960369,303.837246,305.079590,62573200,0.0,0.0,0.0,SPY
2020-02-05 00:00:00-05:00,308.055661,308.815910,306.572284,308.602661,65951100,0.0,0.0,0.0,SPY
2020-02-06 00:00:00-05:00,309.576116,309.835710,308.546993,309.641022,50359700,0.0,0.0,0.0,SPY
2020-02-07 00:00:00-05:00,308.565566,309.650286,307.434473,307.990753,64139400,0.0,0.0,0.0,SPY

In [ ]:
import requests
import pandas as pd
import yaml

def get_config():
    """
    parses sensitive data from config
    """

    # Load the YAML file
    with open('config.yml', 'r') as file:
        config = yaml.safe_load(file)

    # Global constants
    API_KEY = config['api']['api_key']
    MIKE_TESTER = config['api']['mike']

config = get_config()

#Global constants
API_KEY = config['api']['api_key']
MIKE_TESTER = config['api']['mike']

def get_credentials(API_KEY):
    # Your Alpha Vantage API key
    av_api_key = API_KEY

    # Request for S&P 500 list (this endpoint gives you the entire listing)
    url = f"https://www.alphavantage.co/query?function=LISTING_STATUS&apikey={api_key}"

    # Fetch the data
    response = requests.get(url)
    data = response.json()

data

# Convert to DataFrame for easier processing
df = pd.DataFrame(data)

# Display the data
print(df.head())

TypeError: 'NoneType' object is not subscriptable

In [76]:
import yaml

def get_config():
    """
    parses sensitive data from config
    """

    # Load the YAML file
    with open('config.yml', 'r') as file:
        config = yaml.safe_load(file)

    # Global constants
    API_KEY = config['api']['api_key']
    MIKE_TESTER = config['api']['mike']

config = get_config()

In [71]:
import configparser
config = configparser.ConfigParser()

# Load the config file
config.read('config.ini')

# Access a particular line (section and option)
API_KEY = config['api']['api_key']
MIKE_TESTER = config['api']['mike']
print(API_KEY, MIKE_TESTER)

OL8G1TT77FKMB9PS aj

In [60]:
import toml

# Load the TOML file
config = toml.load('config.toml')

# Access a particular line (section and option)
API_KEY = config['api']['api_key']
MIKE_TESTER = config['api']['mike']
print(API_KEY, MIKE_TESTER)

OL8G1TT77FKMB9PS aj

In [66]:
#config.yaml

import yaml

# Load the YAML file
with open('config.yml', 'r') as file:
    config = yaml.safe_load(file)

# Access a particular line (section and option)
API_KEY = config['api']['api_key']
MIKE_TESTER = config['api']['mike']
print(API_KEY, MIKE_TESTER)

OL8G1TT77FKMB9PS aj

In [70]:
#config.json

import json

# Load the JSON file
with open('config.json', 'r') as file:
    config = json.load(file)

# Access a particular line (section and option)
API_KEY = config['api_key']
MIKE_TESTER = config['mike']
print(API_KEY, MIKE_TESTER)

OL8G1TT77FKMB9PS aj